 <form>
            
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail2">Bill Of Lading Number</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail2">Mater Bill Of Lading Number</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail2">Bill Of Lading Number Import</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail2">Wharf Code</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail2">Origin Port</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail2">Destination</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail2">Loading Port</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail2">Discharge</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail2">Consignee Port</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail2">Shipper</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail2">Notify</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
            </div>
        </form>