<div class="tabbable tabs-left mb-lg">
    <ul id="tabs2" class="nav nav-tabs">
        <li [ngClass]="{active: showVoyagesTab}" (click)="tabClicked('voyage')"><a data-target="#tab12" data-toggle="tab" aria-expanded="true">Voyages</a></li>
        <li [ngClass]="{active: showBillOfLadingDetailsTab}" (click)="tabClicked('billoflading')"><a data-target="#tab22" data-toggle="tab" aria-expanded="false">Bill Of Lading Details</a></li>
        <li [ngClass]="{active: showCargoDetailsTab}" (click)="tabClicked('cargo')"><a data-target="#tab32" data-toggle="tab" aria-expanded="false">Cargo Details</a></li>
    </ul>
    <div id="tabs2c" class="tab-content">
        <div *ngIf="showVoyagesTab"  class="tab-pane" [ngClass]="{active: showVoyagesTab}" id="tab12" >
            <voyage></voyage>
        </div>
        <div  *ngIf="showBillOfLadingDetailsTab"  class="tab-pane " [ngClass]="{active: showBillOfLadingDetailsTab}" id="tab22">
            <bill-of-lading-detail></bill-of-lading-detail>
        </div>
        <div  *ngIf="showCargoDetailsTab"  class="tab-pane " [ngClass]="{active: showCargoDetailsTab}" id="tab32">
            <cargo></cargo>
        </div>
    </div>
</div>



